<div class="container" ng-controller="HomeController as ctrl">
    <div class="row">
        <form class="col-md-6 col-sm-12 form" name="form">
            <div class="alert alert-danger" role="alert" ng-show="form.principle.$dirty && form.principle.$invalid">
                <b>Principle</b> must be a positive number and not empty
            </div>
            <div class="alert alert-danger" role="alert" ng-show="form.rate.$dirty && form.rate.$invalid">
                <b>Rate</b> must be a positive number and not empty
            </div>
            <div class="alert alert-danger" role="alert" ng-show="form.time.$dirty && form.time.$invalid">
                <b>Time</b> must be a positive number and not empty
            </div>

            <input type="checkbox" name="interest-type" id="interest-type" ng-model="ctrl.isCompound"> <label
                for="interest-type" class="text-uppercase">Compound Interest</label>

            <div class="input-group">
                <span class="input-group-addon">$</span>
                <input type="number" class="form-control" placeholder="Principle (P)" ng-model="ctrl.principle"
                       name="principle" required min="0">
            </div>


            <div class="input-group">
                <span class="input-group-addon">%</span>
                <input type="number" class="form-control" placeholder="Rate (R)" ng-model="ctrl.rate" name="rate"
                       required min="0">
            </div>
            <div>
                <div class="input-group input-extra">
                    <span class="input-group-addon "><i class="fa fa-clock-o"></i></span>
                    <input type="number" class="form-control" placeholder="Time (t)" ng-model="ctrl.time" name="time"
                           id="time" required min="0">

                    <select class="form-select" ng-model="ctrl.timeType">
                        <option>Months</option>
                        <option>Years</option>
                    </select>

                </div>

            </div>
            <div ng-show="ctrl.isCompound">
                <select class="form-select" ng-model="ctrl.frequency"
                        ng-options="frequencyType.name for frequencyType in ctrl.frequencyTypes">
                </select>
            </div>
            <div ng-show="ctrl.validate()" class="result">
                <h3> A = <span><b>{{ctrl.calculate() | number:2}}</b></span>
                </h3>


            </div>
        </form>

        <div class="col-md-6 col-sm-12" ng-show="!ctrl.isCompound">
            <h3 class="title"> Simple Interest Equation (Principal + Interest)</h3>

            <p>A = P(1 + rt)</p>

            <ul>
                <li> A = Total Accrued Amount (principal + interest)</li>
                <li>P = Principal Amount</li>
                <li>I = Interest Amount</li>
                <li>r = Rate of Interest per year in decimal; r = R/100</li>
                <li>R = Rate of Interest per year as a percent; R = r * 100</li>
                <li>t = Time Period involved in months or years</li>
                <li>From the base formula, A = P(1 + rt) derived from A = P + I and I = Prt so A = P + I = P + Prt = P(1
                    +
                    rt)
                </li>
            </ul>


        </div>
        <div class="col-md-6 col-sm-12" ng-show="ctrl.isCompound">
            <h3> Compound Interest Equation (Principal + Interest)</h3>

            <p>A = P(1 + r/n)<sup>nt</sup></p>

            <ul>
                <li> A = Accrued Amount (principal + interest)
                </li>
                <li>P = Principal Amount</li>
                <li>I = Interest Amount</li>
                <li>R = Annual Nominal Interest Rate in percent</li>
                <li>r = Annual Nominal Interest Rate as a decimal</li>
                <li>r = R/100</li>
                <li>t = Time Involved in years, 0.5 years is calculated as 6 months, etc.</li>
                <li>n = number of compounding periods per unit t; at the END of each period</li>
            </ul>


        </div>


    </div>
</div>